<mat-card class="form-container">
  <mat-card-content>
    <div fxLayout="column" [formGroup]="contentForm">
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field *ngIf="contentForm.get('slug')?.value" disabled>
        <mat-label>Slug</mat-label>
        <input matInput formControlName="slug">
      </mat-form-field>
      <mat-checkbox formControlName="enabled">
        Activé
      </mat-checkbox>
      <div class="content-wrapper">
        <mat-label class="content-label" [class.invalid]="!contentForm.get('richText')?.valid">Contenu <span *ngIf="hasRequiredValidator('richText')" class="required">*</span></mat-label>
        <app-lexical-editor formControlName="richText" [isValid]="contentForm.get('richText')?.valid"></app-lexical-editor>
      </div>
    </div>
  </mat-card-content>
</mat-card>
