<div [formGroup]="courseTechnicalForm" fxLayout="column">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="start center" fxLayoutGap="30px">
    <mat-form-field style="width: 50%">
      <mat-label>{{ 'admin.courses.edit.technical_info.docker_image.label' | translate }}</mat-label>
      <input matInput formControlName="dockerImage">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="courseTechnicalForm.disabled">
      {{ 'admin.courses.edit.technical_info.docker_image.import' | translate }}
    </button>
  </div>
  <h2>{{ 'admin.courses.edit.technical_info.ports.label' | translate }}:</h2>
  <app-ports-form
    formControlName="ports"
  ></app-ports-form>

  <mat-form-field>
    <mat-label>{{ 'admin.courses.edit.technical_info.command' | translate }}</mat-label>
    <input matInput formControlName="command" type="text">
  </mat-form-field>
  <p>
    <mat-error *ngIf="courseTechnicalForm?.hasError('malformedCommandPorts')">
      {{ 'admin.courses.edit.technical_info.command_malformed_ports_error' | translate: {
        placeholders: courseTechnicalForm.getError('malformedCommandPorts').placeholders.join(', ')
      } }}
    </mat-error>
    <mat-error *ngIf="courseTechnicalForm?.hasError('unknownCommandPorts')">
      {{ 'admin.courses.edit.technical_info.command_unknown_ports_error' | translate: {
        ports: courseTechnicalForm.getError('unknownCommandPorts').invalidPorts.join(', ')
      } }}
    </mat-error>
  </p>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div fxLayout="row" fxFlexFill fxLayout.lt-md="column" fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.compute_type' | translate }}</mat-label>
      <mat-select formControlName="computeTypeId" [matTooltip]="'admin.courses.edit.technical_info.compute_type_tooltip' | translate">
        <mat-option [value]="v.id" *ngFor="let v of computeTypes">
          {{ v.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.cpu_limit' | translate }}</mat-label>
      <input matInput formControlName="nanoCpusLimit" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.memory_limit' | translate }}</mat-label>
      <input matInput formControlName="memoryBytesLimit" type="number">
    </mat-form-field>
  </div>
  <mat-checkbox
    formControlName="saveStudentWork"
    (change)="changeSaveStudentWork($event.checked)"
  >
    <span
      [matTooltip]="'admin.courses.edit.technical_info.save_student_work.tooltip' | translate"
    >
      {{ 'admin.courses.edit.technical_info.save_student_work.label' | translate }}
    </span>
  </mat-checkbox>
  <div
    fxLayout="row"
    fxFlexFill
    fxLayout.lt-md="column"
    fxLayoutGap="16px"
    fxLayoutAlign="start center"
     *ngIf="courseTechnicalForm.get('saveStudentWork')?.value"
  >
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.save_student_work.size' | translate }}</mat-label>
      <input matInput formControlName="workdirSize" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.save_student_work.path' | translate }}</mat-label>
      <input matInput formControlName="workdirPath">
    </mat-form-field>
    <mat-checkbox
      formControlName="allowStudentToSubmit"
      *ngIf="config.save_student_work_enabled"
    >
      {{ 'admin.courses.edit.technical_info.save_student_work.allow_submit' | translate }}
    </mat-checkbox>
  </div>
  <br>
  <mat-checkbox
    formControlName="useStudentVolume"
    (change)="changeUseStudentVolume($event.checked)"
  >
    <span
      [matTooltip]="'admin.courses.edit.technical_info.use_student_volume.tooltip' | translate"
    >
      {{ 'admin.courses.edit.technical_info.use_student_volume.label' | translate }}
    </span>
  </mat-checkbox>
  <div
    fxLayout="row"
    fxFlexFill
    fxLayout.lt-md="column"
    fxLayoutGap="16px"
    fxLayoutAlign="start center"
     *ngIf="courseTechnicalForm.get('useStudentVolume')?.value"
  >
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.use_student_volume.path' | translate }}</mat-label>
      <input matInput formControlName="studentVolumePath">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.use_student_volume.uid' | translate }}</mat-label>
      <input matInput formControlName="uid" [matTooltip]="'admin.courses.edit.technical_info.use_student_volume.uid_tooltip' | translate">
    </mat-form-field>
  </div>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'admin.courses.edit.technical_info.display_options.label' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-course-display-form
      formControlName="displayOptions"
      [ports]="courseTechnicalForm.get('ports')?.value"
    >
    </app-course-display-form>
  </mat-expansion-panel>
</div>
