.form-container {
  background: white;
  margin-bottom: 16px;
  padding: 16px;
}

@media (min-width: 959px) {
  .email-link {
    margin-top: 15px;
  }
}
.email-link {
  line-height: 18px;
}

.email-link mat-icon {
  margin-right: 7px;
}

.locked-explanation {
  margin-top: 15px;
  margin-right: 10px;
}
