  <div
    [formGroup]="sessionFormGroup"
    fxLayout="column" fxFlexFill
  >
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.general_info.sessions.title' | translate }}</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="sessionFormGroup?.get('title')?.hasError('pattern')">
        {{ 'admin.courses.edit.general_info.sessions.title_error' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.general_info.sessions.student_count' | translate }}</mat-label>
      <input matInput formControlName="studentNumber" type="number">
    </mat-form-field>
    <div class="grid">
      <span>{{ 'admin.courses.edit.general_info.sessions.start_date' | translate }}</span>
      <app-datetime-picker
        formControlName="startDateTime"
      >
      </app-datetime-picker>
      <span>{{ 'admin.courses.edit.general_info.sessions.end_date' | translate }}</span>
      <app-datetime-picker
        formControlName="endDateTime"
      >
      </app-datetime-picker>
    </div>
    <mat-checkbox
      formControlName="blockContainerCreationBeforeStartTime"
    >
      {{ 'admin.courses.edit.general_info.sessions.block' | translate }}
    </mat-checkbox>
    <mat-checkbox
      formControlName="destroyContainerAfterEndTime"
      style="display: none;"
    >
      {{ 'admin.courses.edit.general_info.sessions.destroy' | translate }}
    </mat-checkbox>
  </div>
