<h1 class="mat-display-1">{{ 'admin.resources_management.deployment_status.deployment_of' | translate }}
  {{deployment?.startDateTime | translatedDate : 'd MMMM y':' HH:mm':true }}
</h1>

<div fxLayout="column" fxLayoutGap="5px" class="form-container mat-elevation-z3">
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start">
    <strong>{{ 'admin.resources_management.deployment.columns.type' | translate }}:</strong>
    <p>{{ 'admin.resources_management.deployment.edit.deployment_type.' + deployment?.type | translate }}</p>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start">
    <strong>{{ 'admin.resources_management.deployment.columns.description' | translate }}:</strong>
    <p>{{ deployment?.description }}</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <strong>{{ 'admin.resources_management.deployment.columns.sessions' | translate }}:</strong>
    <ul>
      <li *ngFor="let session of deployment?.sessions">
        {{ 'admin.resources_management.deployment.edit.from' | translate | titlecase }}
        {{ session.startDateTime | translatedDate : 'd MMMM y':'HH:mm':true }}
        {{ 'admin.resources_management.deployment.edit.to' | translate }}
        {{ session.endDateTime | translatedDate : 'd MMMM y':'HH:mm':true }}
        {{ 'admin.resources_management.deployment.edit.for_course' | translate }} "{{ session.course.title }}"
      </li>
    </ul>
  </div>
  <div fxLayout="column" fxLayoutAlign="center start">
    <strong>{{ 'admin.resources_management.deployment.columns.resources' | translate }}:</strong>
    <ul>
      <li *ngFor="let worker of deployment?.workers">
        <strong>{{ worker.count }}</strong> {{ 'admin.resources_management.deployment.on' | translate }} <strong>{{ worker.region }}</strong> {{ 'admin.resources_management.deployment.of_type' | translate }} <strong>{{ findResource(worker.resource) }}</strong><span *ngIf="worker.computeTypeId !== null"> ({{ findComputeType(worker.computeTypeId) }})</span>
      </li>
    </ul>
  </div>
</div>
