<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif">
<h1 style="text-align: center; margin-top: 50px;">Oups...une erreur inattendue s'est produite</h1>
<div>
  <p>Attention : Safari n'est pas supporté, et les cookies tiers doivent être autorisés pour le domaine MyDocker.</p>
  {{#message}}
  <p style="white-space: pre;">Détails : {{ message }}</p>
  {{/message}}
</div>
</body>
</html>
