<div>
  <div class="mat-elevation-z3 region-container" *ngFor="let region of regions">
    <h2>{{ region }}</h2>
    <mat-expansion-panel *ngFor="let flavor of flavorForRegion(region)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ flavor }}
        </mat-panel-title>
        <mat-panel-description>
          {{ workerByRegion[region][flavor].length }} {{ 'admin.resources_management.infrastructure_state.instances' | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div  class="worker-grid">
        <div class="mat-elevation-z4 worker-container" *ngFor="let worker of workerByRegion[region][flavor]">
          <p><strong>{{ 'admin.resources_management.infrastructure_state.flavor' | translate }}:</strong> {{ worker.flavor_name }}</p>
          <p><strong>{{ 'admin.resources_management.infrastructure_state.state' | translate }}:</strong> {{ worker.power_state }}</p>
          <p><strong>{{ 'admin.resources_management.infrastructure_state.ip' | translate }}:</strong> {{ worker.access_ip_v4 }}</p>
          <p *ngIf="worker.owner"><strong>{{ 'admin.resources_management.infrastructure_state.owner' | translate }}:</strong> {{ worker.owner }}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="mat-elevation-z3 region-container" *ngIf="regions.length === 0">
    <h2>{{ 'admin.resources_management.infrastructure_state.no_instances' | translate }}</h2>
  </div>
</div>
