<h1 mat-dialog-title>{{ 'admin.courses.edit.technical_info.docker_image.choice' | translate }}</h1>

<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.docker_image.label' | translate }}</mat-label>
      <input type="text"
             aria-label="Image docker"
             matInput
             [formControl]="control"
             [matAutocomplete]="auto"
      >
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="dockerImageSelected($event.option.value)"
      >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'admin.courses.edit.technical_info.docker_image.build' | translate }}</mat-label>
      <mat-select [disabled]="buildChoiceDisabled" (selectionChange)="this.chosenDockerImageBuild = $event.value">
        <mat-select-trigger>
          {{
            chosenDockerImageBuild ?
              chosenDockerImageBuild.id + ' | ' + (chosenDockerImageBuild.updatedOn | translatedDate: 'd MMM y':'HH:mm':true): ''
          }}
        </mat-select-trigger>
        <mat-option *ngFor="let option of dockerImageBuilds" [value]="option">
          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
            <app-docker-image-build-status
              [status]="option.status"
            ></app-docker-image-build-status>
            <span>
              {{ option.id }} | {{ option.updatedOn | translatedDate: 'd MMM y':'HH:mm':true }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions fxLayoutAlign="end center">
  <button
    (click)="closeAndReturnDockerImage()"
    [disabled]="chosenDockerImage === null || chosenDockerImageBuild === null"
    color="primary"
    mat-raised-button
    type="button"
  >
  {{ 'admin.courses.edit.technical_info.docker_image.confirm' | translate }}
  </button>
  <button type="button" mat-button color="primary" (click)="dialogRef.close(null)">
    {{ 'admin.courses.edit.technical_info.docker_image.cancel' | translate }}
  </button>
</div>
