# Root EditorConfig file
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

# XML files
[*.xml]
indent_style = space
indent_size = 4

# Properties files
[*.properties]
indent_style = space
indent_size = 4

# YAML files
[*.yml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
