<mat-card class="form-container">
  <mat-card-content>
    <div fxLayout="column" [formGroup]="computeTypeForm">
      <mat-form-field>
        <mat-label>{{ 'admin.resources_management.compute_types.edit.name' | translate }}</mat-label>
        <input matInput formControlName="displayName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'admin.resources_management.compute_types.edit.technical_identifier' | translate }}</mat-label>
        <input matInput formControlName="technicalName">
      </mat-form-field>
      <mat-checkbox formControlName="gpu">
        {{ 'admin.resources_management.compute_types.edit.gpu' | translate }}
      </mat-checkbox>
      <mat-form-field class="field-spacer">
        <mat-label>{{ 'admin.resources_management.compute_types.edit.storage_backend' | translate }}</mat-label>
        <mat-select formControlName="storageBackend">
          <mat-option value="{{ v[0] }}" *ngFor="let v of storageBackends">{{ v[1] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-accordion
        *ngIf="config.deployment_enabled"
        class="field-spacer"
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{ 'admin.resources_management.compute_types.edit.autoscaling.label' | translate }}
          </mat-expansion-panel-header>
          <div fxLayout="column">

            <app-resources-regions-form
              [resources]="resources"
              [regions]="regions"
              [formControl]="autoscalingResourcesRegionsControl"
            >
            </app-resources-regions-form>
            <mat-form-field>
              <mat-label>{{ 'admin.resources_management.compute_types.edit.autoscaling.available_instances' | translate }}</mat-label>
              <input matInput formControlName="minIdleNodesCount" type="number">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'admin.resources_management.compute_types.edit.autoscaling.max_instances' | translate }}</mat-label>
              <input matInput formControlName="maxNodesCount" type="number">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'admin.resources_management.compute_types.edit.autoscaling.manual_instances' | translate }}</mat-label>
              <input matInput formControlName="manualNodesCount" type="number">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
