<div
  [formGroup]="portFormGroup"
  fxLayout="row" fxFlexFill fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start center"
>
  <mat-form-field>
    <mat-label>{{ 'admin.courses.edit.technical_info.ports.title' | translate }}</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'admin.courses.edit.technical_info.ports.type' | translate }}</mat-label>
    <mat-select formControlName="connectionType">
      <mat-option value="{{ v[0] }}" *ngFor="let v of connectionType">{{ v[1] }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'admin.courses.edit.technical_info.ports.port' | translate }}</mat-label>
    <input matInput formControlName="mapPort" type="number">
  </mat-form-field>
  <mat-checkbox
    formControlName="requiredToAccessContainer"
    [matTooltip]="'admin.courses.edit.technical_info.ports.required_tooltip' | translate"
  >
  {{ 'admin.courses.edit.technical_info.ports.required' | translate }}
  </mat-checkbox>
</div>
