<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1 class="mat-display-1">Édition de l'image: {{ dockerImage?.name }}</h1>
  <button
    mat-icon-button
    (click)="openShareDialog()"
    *ngxPermissionsOnly="['ROLE_ADMIN', 'docker_image.' + dockerImage?.id + '.creator']"
  >
    <mat-icon>share</mat-icon>
  </button>
</div>

<app-docker-image-form
  [formControl]="dockerImageForm"
  [editMode]="true"
  (download)="download()"
></app-docker-image-form>

<div fxLayout="row" fxLayoutAlign="flex-end">
  <button
    mat-raised-button
    [disabled]="dockerImageForm.invalid || !dockerImageForm.dirty || dockerImageForm.disabled"
    (click)="submit()"
    color="primary"
  >
    Sauvegarder les changements
  </button>
</div>
