<div [formGroup]="formGroup">
  <div fxLayout="row" fxLayoutGap="15px">
    <div fxLayout="column">
      <mat-checkbox formControlName="displayUsername">
        {{ 'admin.courses.edit.technical_info.display_options.display_username' | translate }}
      </mat-checkbox>
      <mat-checkbox formControlName="displayPassword">
        {{ 'admin.courses.edit.technical_info.display_options.display_password' | translate }}
      </mat-checkbox>
    </div>
    <div fxLayout="column">
      <app-course-display-ports-form
        [ports]="container.ports"
        formControlName="displayPorts"
      ></app-course-display-ports-form>
    </div>
  </div>
  <app-course-display-custom-url
    [ports]="container.ports"
    formControlName="customPortsDisplay"
  ></app-course-display-custom-url>
  <br>
  <mat-divider></mat-divider>
  <br>
  <h2>{{ 'admin.courses.edit.technical_info.display_options.preview' | translate }}</h2>
  <app-display-container
    [container]="container"
    [displayOptions]="formGroup.value"
  ></app-display-container>
</div>
