.spacer {
  flex: 1 1 auto;
}

.container {
  box-sizing: border-box;
  max-width: 1250px;
  width: 75vw;
  margin-top: 10px;
  margin-bottom: 50px;
}

a {
  div {
    padding-right: 20px;
  }
}

mat-divider {
  margin-bottom: 30px;
}

.menu-title {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
