<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <span routerLink="/admin" style="cursor: pointer">{{ appName }}</span>
    <ng-container *ngFor="let element of information">
      <a
        [href]="element.url"
        target="_blank"
        style="color: inherit; text-decoration: none;margin-left: 20px;"
        class="mat-body">
        {{ element.title | translated:currentLang }}
      </a>
    </ng-container>
  </div>
  <span class="spacer"></span>
  <span class="mat-body" [matTooltip]="userInfo">{{ email }}</span>
  <button
    mat-icon-button
    routerLink="/"
    [matTooltip]="'home.student_page' | translate" >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="langMenu">
    <span style="font-size: 20px;">{{ currentFlag }}</span>
  </button>
  <mat-menu #langMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of languages"
      (click)="switchLang(lang.code)">

      <span style="margin-right: 8px;">
        {{ lang.flag }}
      </span>

      {{ lang.label }}
    </button>
  </mat-menu>
  <button mat-icon-button (click)="logout()" [matTooltip]="'home.logout' | translate">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened appDrawerAutosizeHack>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="courseRoute|async"
        routerLinkActive="active-link"
      >
        <div fxLayout="row">
          <mat-icon>description</mat-icon>
        </div>
        <span>{{ 'admin.courses.nav_label' | translate }}</span>
      </a>
      <a
        mat-list-item
        routerLink="/admin/images"
        routerLinkActive="active-link"
      >
        <div fxLayout="row">
          <mat-icon>inventory_2</mat-icon>
        </div>
        <span>{{ 'admin.docker_images.nav_label' | translate }}</span>
      </a>
      <h2 *ngxPermissionsOnly="'ROLE_ADMIN'" class="menu-title">{{ 'admin.resources_management.title' | translate }}</h2>
      <ng-container *ngIf="config.deployment_enabled">
        <a
          mat-list-item
          routerLink="/admin/sessions-resources"
          routerLinkActive="active-link"
          *ngxPermissionsOnly="'ROLE_ADMIN'"
        >
          <div fxLayout="row">
            <mat-icon>memory</mat-icon>
          </div>
          <span>{{ 'admin.resources_management.resources_by_session.nav_label' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/deployment"
          routerLinkActive="active-link"
          *ngxPermissionsOnly="'ROLE_ADMIN'"
        >
          <div fxLayout="row">
            <mat-icon>dynamic_form</mat-icon>
          </div>
          <span>{{ 'admin.resources_management.deployment.nav_label' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/state"
          routerLinkActive="active-link"
          *ngxPermissionsOnly="'ROLE_ADMIN'"
        >
          <div fxLayout="row">
            <mat-icon>track_changes</mat-icon>
          </div>
          <span>{{ 'admin.resources_management.infrastructure_state.nav_label' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLink="/admin/deployment-status"
          routerLinkActive="active-link"
          *ngxPermissionsOnly="'ROLE_ADMIN'"
        >
          <div fxLayout="row">
            <mat-icon>task_alt</mat-icon>
          </div>
          <span>{{ 'admin.resources_management.deployment_status.nav_label' | translate }}</span>
        </a>
      </ng-container>
      <a
        mat-list-item
        routerLink="/admin/compute-types"
        routerLinkActive="active-link"
        *ngxPermissionsOnly="'ROLE_ADMIN'"
      >
        <div fxLayout="row">
          <mat-icon>settings</mat-icon>
        </div>
        <span>{{ 'admin.resources_management.compute_types.nav_label' | translate }}</span>
      </a>
      <a
        mat-list-item
        routerLink="/admin/contents"
        routerLinkActive="active-link"
        *ngxPermissionsOnly="'ROLE_ADMIN'"
      >
        <div fxLayout="row">
          <mat-icon>article</mat-icon>
        </div>
        <span>{{ 'admin.resources_management.content_management.nav_label' | translate }}</span>
      </a>
      <h2 *ngxPermissionsOnly="'ROLE_ADMIN'" class="menu-title">Gestion des utilisateur</h2>
      <a
        mat-list-item
        routerLink="/admin/users"
        routerLinkActive="active-link"
        *ngxPermissionsOnly="'ROLE_ADMIN'"
      >
        <div fxLayout="row">
          <mat-icon>person</mat-icon>
        </div>
        <span>{{ 'admin.users_management.users.nav_label' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="column" fxLayoutAlign="flex-start center" style="height: calc(100vh - 64px); overflow: scroll;">
      <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <mat-divider></mat-divider>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

