.panel-title {
  font-size: 18px;
  line-height: 22px;
}

.mat-expansion-panel {
  margin-left: 10px;
  margin-bottom: 10px;
}

.mat-expansion-panel:last-child {
  margin-bottom: 0;
}

.session-date {
  margin-top: 15px;
}

.session-container:last-child {
  padding-bottom: 10px;
}

.center-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 45vh;
}
