<mat-card *ngIf="errorMessage" class="alert-banner" style="margin-bottom: 40px;">
  <div class="alert-content">
    <span>{{ errorMessage }}</span>
    <button mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-card>
<div class="welcome-content" *ngIf="welcomeContent?.enabled" [innerHtml]="welcomeContent?.richText">
</div>
<h1 class="mat-display-2">Environnements</h1>
<div *ngIf="planified && planified.length > 0">
  <h2 class="mat-display-1" >
    <span matTooltip="Retrouvez ici vos activités prévues dans moins d’une semaine" matTooltipPosition="above">Planifiés</span>
  </h2>
  <div
    *ngFor="let element of planified"
    class="session-container"
    [id]="getSessionHtmlId(element.sessions[0].id)"
  >
    <mat-expansion-panel
      *ngIf="element.sessions && element.sessions.length > 0"
      [expanded]="isExpanded(element)"
      style="margin-top: 30px;"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title" fxLayout="row" fxLayoutAlign="space-between center">
          <b>{{ element.title }}</b>
          <div>
            <span [matTooltip]="(element.sessions?.[0]?.startDateTime | date : 'dd/MM/yyyy à HH\'h\'mm') || ''" [matTooltipPosition]="'above'">{{ getDaysUntil(element.sessions[0].startDateTime) }}</span>
            <span *ngIf="element.sessions[0].title">: {{ element.sessions[0].title }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-course-detail
        [session]="element.sessions[0]"
        [launch]="isToBeLaunched(element)"
        [active]="isActive(element)"
        [course]="element"
        [userRedirect]="element.id === courseId? userRedirect: undefined"
      ></app-course-detail>
      <div style="margin-top: 20px;" [innerHTML]="element.description"></div>
    </mat-expansion-panel>
  </div>
</div>

<div *ngIf="past && past.length > 0" style="margin-top: 50px;">
  <h2 class="mat-display-1" >Utilisés précédemment</h2>
  <div
    *ngFor="let element of past"
    class="session-container"
    [id]="getSessionHtmlId(element.sessions[0].id)"
  >
    <mat-expansion-panel
      *ngIf="element.sessions && element.sessions.length > 0"
      [expanded]="isExpanded(element)"
      style="margin-top: 30px;"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title" fxLayout="row" fxLayoutAlign="space-between center">
          <b>{{ element.title }}</b>
          <div>
            <span [matTooltip]="(element.lastStartDate ?? element.createdAt | date : 'dd/MM/yyyy à HH\'h\'mm') || ''" [matTooltipPosition]="'above'">{{ getDaysUntil(element.lastStartDate ?? element.createdAt) }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-course-detail
        [session]="element.sessions[0]"
        [launch]="isToBeLaunched(element)"
        [active]="isActive(element)"
        [course]="element"
        [userRedirect]="element.id === courseId? userRedirect: undefined"
      ></app-course-detail>
      <div style="margin-top: 20px;" [innerHTML]="element.description"></div>
    </mat-expansion-panel>
  </div>
</div>

<div *ngIf="planified && planified.length === 0 && past && past.length === 0" class="session-container center-message">
  <h3>Aucun cours disponible</h3>
  <p *ngIf="showInformationMessage">
    L'historique des environnements auxquels vous avez accédés est actuellement vide.
    Vous trouverez dans notre <a mat-button color="primary" [href]="documentationUrl" target="_blank">documentation</a> des propositions d'environnements génériques mis à votre disposition.
  </p>
</div>
