<h1 class="mat-display-1">{{ 'admin.resources_management.content_management.title' | translate }}</h1>
<mat-table [dataSource]="contents" class="mat-elevation-z3">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>{{ 'admin.resources_management.content_management.columns.title' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="slug">
    <mat-header-cell *matHeaderCellDef>{{ 'admin.resources_management.content_management.columns.slug' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.slug }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <mat-header-cell *matHeaderCellDef>{{ 'admin.resources_management.content_management.columns.active' | translate }} ?</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.enabled ? ('admin.resources_management.content_management.yes' | translate) :  ('admin.resources_management.content_management.no' | translate) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef fxLayoutAlign="end center">
      <a mat-raised-button color="primary" [routerLink]="'/admin/contents/new'">
        <mat-icon>add</mat-icon>
        {{ 'admin.resources_management.content_management.create' | translate }}
      </a>
    </mat-header-cell>

    <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="flex-end center">
      <a
        mat-icon-button
        [routerLink]="[element.id, 'edit']"
        [matTooltip]="'admin.resources_management.content_management.actions.edit' | translate"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <button
        mat-icon-button
        (click)="remove(element)"
        [matTooltip]="'admin.resources_management.content_management.actions.delete' | translate"
        >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let element; columns: columnsToDisplay;">
  </mat-row>
</mat-table>
