<span [ngSwitch]="status">
  <mat-icon
    *ngSwitchCase="'DONE'"
    style="color: green"
    [matTooltip]="'admin.resources_management.deployment_status.success' | translate"
  >
    check_circle
  </mat-icon>
  <mat-icon
    style="color: red"
    [matTooltip]="'admin.resources_management.deployment_status.error' | translate"
    *ngSwitchCase="'ERROR'"
  >
    error
  </mat-icon>
  <mat-icon
    *ngSwitchCase="'RUNNING'"
    style="color: darkblue"
    [matTooltip]="'admin.resources_management.deployment_status.in_progress' | translate"
  >
    build_circle
  </mat-icon>
  <mat-icon
    *ngSwitchCase="'SKIPPED'"
    style="color: darkgray"
    [matTooltip]="'admin.resources_management.deployment_status.canceled' | translate"
  >
    block
  </mat-icon>
</span>
