<mat-toolbar color="primary">
  <div>
    <span [routerLink]="'/'" style="cursor: pointer">{{ appName }}</span>

    <ng-container *ngFor="let element of information">
      <a
        [href]="element.url"
        target="_blank"
        style="color: inherit; text-decoration: none;margin-left: 20px;"
        class="mat-body">
        {{ element.title }}
      </a>
    </ng-container>
  </div>
  <span class="spacer"></span>
  <span class="mat-body" [matTooltip]="userInfo">{{ email }}</span>
  <a
    mat-icon-button
    routerLink="/admin"
    *ngxPermissionsOnly="['ROLE_TEACHER', 'ROLE_ADMIN']"
    matTooltip="Interface d'administration de la plateforme">
    <mat-icon>admin_panel_settings</mat-icon>
  </a>
  <button mat-icon-button (click)="logout()" matTooltip="Se déconnecter">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="flex-start center" style="height: calc(100vh - 64px); overflow: scroll;">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
