<div fxLayout="row" class="top-container">
  <app-countdown
    *ngIf="sessionCourseOrCourse?.shutdownAfterMinutes && container?.deletionTime && !waitingForDeletionDelay && container?.status === 'OK'"
    [targetDatetime]="container?.deletionTime"
    [sessionId]="session?.id"
    (timerElapsed)="onTimerElapsed()"
  ></app-countdown>
  <div fxLayout="row" fxLayoutAlign="end center" *ngIf="state !== 'ask'">
    <button
      class="logs-button"
      mat-icon-button
      (click)="fetchLogs()"
      [matTooltip]="'container.service_logs' | translate"
    >
      <mat-icon>playlist_add_check</mat-icon>
      {{ 'container.logs.title' | translate }}
    </button>
  </div>
</div>
<div [ngSwitch]="state">
  <div *ngSwitchCase="'container_created'">
    <div class="grid" [ngClass]="{'two-columns': container?.status === 'OK'}">
      <app-display-container
        [container]="container"
        [displayOptions]="sessionCourseOrCourse?.displayOptions"
        [userRedirect]="userRedirect"
        [enableAutoClick]="userStarted"
        (deleteEnv)="deleteEnv()"
      ></app-display-container>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <app-save-state
          [course]="sessionCourseOrCourse"
          *ngIf="container?.status === 'OK' && sessionCourseOrCourse?.allowStudentToSubmit && sessionCourseOrCourse?.studentWorkIsSaved"
        >
        </app-save-state>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px" *ngIf="container?.status === 'OK'">
          <p class="information">
            {{ 'container.problem' | translate }}
          </p>
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
            <button mat-raised-button color="warn" (click)="deleteEnvWithConfirmationDialog()">
              {{ 'container.shutdown' | translate }}
            </button>
            <div
              style="padding: 10px;"
              *ngxPermissionsOnly="['course.' + course?.id + '.edit', 'course.' + course?.id + '.creator', 'ROLE_ADMIN']"
            >
              <a
                [href]="'admin/courses/' + course?.id + '/edit'"
                color="primary"
              >
                {{ 'admin.courses.actions.edit' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" *ngSwitchCase="'loading_init'">
    <mat-spinner></mat-spinner>
    <p style="margin-top: 10px">{{ 'container.wait_creation' | translate }}</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngSwitchCase="'pending'">
    <mat-progress-bar mode="buffer" [value]="step"></mat-progress-bar>
    <p style="margin-top: 10px">{{ stepMessage }}</p>
    <div style="margin-top: 30px">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" (click)="deleteEnvWithConfirmationDialog()">
          {{ 'container.shutdown' | translate }}
        </button>
        <div
          style="padding: 10px;"
          *ngxPermissionsOnly="['course.' + course?.id + '.edit', 'course.' + course?.id + '.creator', 'ROLE_ADMIN']"
        >
          <a
            [href]="'admin/courses/' + course?.id + '/edit'"
            color="primary"
          >
            {{ 'admin.courses.actions.edit' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" *ngSwitchCase="'loading_shutdown'">
    <mat-spinner></mat-spinner>
    <p style="margin-top: 10px">{{ 'container.wait_shutdown' | translate }}</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxFill *ngSwitchCase="'unavailable'">
    <strong>{{ 'container.status_unavailable' | translate }}</strong>
    <button
      mat-raised-button
      color="primary"
      style="margin-top: 15px"
      (click)="retryAfterFailure()"
    >
      {{ 'container.retry' | translate }}
    </button>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxFill *ngSwitchCase="'ask'">
    <div *ngIf="canAskContainer(); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="initGetContainer()">
          {{ 'container.request_environment' | translate }}
        </button>
        <div
          style="padding: 10px;"
          *ngxPermissionsOnly="['course.' + course?.id + '.edit', 'course.' + course?.id + '.creator', 'ROLE_ADMIN']"
        >
          <a
            [href]="'admin/courses/' + course?.id + '/edit'"
            color="primary"
          >
            {{ 'admin.courses.actions.edit' | translate }}
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <strong>{{ 'container.request_blocked' | translate }}</strong>
    </ng-template>
  </div>
</div>

