.information {
  font-size: 12px;
  color: #121212;
  text-align: center;
}

.grid {
  display: grid;
  grid-row: 1;
  &.two-columns {
    grid-template-columns: 1fr 1fr;
  }
}

.top-container {
  margin-bottom: 20px;
  & > * {
    margin-left: auto;
  }
}
