<div mat-dialog-content fxLayout="column" class="log-dialog">
  <div class="log-dialog__summary">
    <p>
      <strong>{{ 'container.logs.environment' | translate }} :</strong>
      <span>{{ data.name }}</span>
    </p>
    <p>
      <strong>{{ 'container.logs.image' | translate }} :</strong>
      <code>{{ imageReference }}</code>
    </p>
  </div>

  <ng-container *ngIf="data?.tasks?.length; else noLogs">
    <div class="log-dialog__task" *ngFor="let task of data.tasks">
      <h4 class="log-dialog__task-header">
        {{ 'container.logs.task_header' | translate:{
          node: task.node || ('container.logs.unknown_node' | translate),
          slot: task.slot
        } }}
        <span class="log-dialog__task-date" *ngIf="task.createdAt">
          {{ task.createdAt | date:'short' }}
        </span>
      </h4>
      <p class="log-dialog__truncated" *ngIf="task.truncated">
        {{ 'container.logs.truncated' | translate }}
      </p>
      <pre class="log-dialog__output">{{ task.logs }}</pre>
    </div>
  </ng-container>

  <ng-template #noLogs>
    <p class="log-dialog__empty">{{ 'container.logs.no_logs' | translate }}</p>
  </ng-template>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-flat-button color="primary" (click)="close()">{{ 'container.logs.close' | translate }}</button>
</div>
