<div *ngIf="container?.status === 'OK'; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <div class="display-container-port" fxLayoutGap="5px">
    <app-display-container-port
      *ngFor="let containerPort of container?.ports"
      [containerPort]="containerPort"
      [username]="container?.username"
      [ipAddress]="container?.ip"
      [shouldDisplay]="shouldDisplay(containerPort)"
    ></app-display-container-port>
    <app-display-custom-container-port
      *ngFor="let customDisplay of displayOptions?.customPortsDisplay"
      [customDisplay]="customDisplay"
      [password]="container?.password"
      [username]="container?.username"
      [containerPorts]="container?.ports"
      [ipAddress]="container?.ip"
      [userRedirect]="userRedirect"
    ></app-display-custom-container-port>
  </div>

  <div fxLayout="column">
    <mat-form-field
      appearance="outline"
      style="max-width: 500px;"
      *ngIf="displayUsername()"
    >
      <mat-label style="color: rgba(0, 0, 0, 0.87)">Username</mat-label>
      <input matInput disabled value="{{ container?.username }}">
      <button mat-icon-button matSuffix (click)="copyText(container?.username)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      style="max-width: 500px;"
      *ngIf="displayPassword()"
    >
      <mat-label style="color: rgba(0, 0, 0, 0.87)">Mot de passe</mat-label>
      <input matInput disabled value="{{ container?.password }}">
      <button mat-icon-button matSuffix (click)="copyText(container?.password)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #elseBlock>
  <p *ngIf="container?.creationError; else noCreationError">
    Impossible de démarrer, car <span [innerHTML]="container | renderCreationError"></span>
  </p>
  <ng-template #noCreationError>
    <p>Le démarrage de votre environnement a échoué (état : "{{ ContainerSwarmStateMessages[container?.state ?? ContainerSwarmState.UNKNOWN] }}"). Trois causes
      principales sont à envisager:
    </p>
    <ul>
      <li>Le téléchargement vers MyDocker de l'<strong>image</strong> (les logiciels) de l'environnement a pris trop
        de temps. Ce téléchargement est incrémental et mémorisé d'une
        fois sur l'autre. Vous pouvez réessayer quelques fois de
        relancer l'environnement en rechargeant cette page.</li>
      <li>L'environnement est mal configuré. Nous vous recommandons
        alors de contacter les auteurs de l'environnement.
      </li>
      <li>Tous les serveurs alloués à cet environnement sont
        actuellement utilisés. Vous pourrez réessayer ultérieurement.
      </li>
    </ul>
  </ng-template>
  <p class="shutdown-paragraph">
    <button mat-raised-button color="warn" (click)="onDeleteEnv()">
      Éteindre l'environnement
    </button>
  </p>
</ng-template>
