<div *ngIf="container?.status === 'OK'; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <div class="display-container-port" fxLayoutGap="5px">
    <app-display-container-port
      *ngFor="let containerPort of container?.ports"
      [containerPort]="containerPort"
      [username]="container?.username"
      [ipAddress]="container?.ip"
      [shouldDisplay]="shouldDisplay(containerPort)"
      [autoClick]="autoClick"
    ></app-display-container-port>
    <ng-container
      *ngFor="let customDisplay of displayOptions?.customPortsDisplay"
    >
      <app-display-custom-container-port
        *ngIf="showCustomDisplay(customDisplay)"
        [customDisplay]="customDisplay"
        [password]="container?.password"
        [username]="container?.username"
        [containerPorts]="container?.ports"
        [ipAddress]="container?.ip"
        [userRedirect]="userRedirect"
        [autoClick]="autoClick"
      ></app-display-custom-container-port>
    </ng-container>
  </div>

  <div fxLayout="column">
    <mat-form-field
      appearance="outline"
      style="max-width: 500px;"
      *ngIf="displayUsername()"
    >
      <mat-label style="color: rgba(0, 0, 0, 0.87)">
        {{ 'container.username' | translate }}
      </mat-label>
      <input matInput disabled value="{{ container?.username }}">
      <button mat-icon-button matSuffix (click)="copyText(container?.username)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      style="max-width: 500px;"
      *ngIf="displayPassword()"
    >
      <mat-label style="color: rgba(0, 0, 0, 0.87)">
        {{ 'container.password' | translate }}
      </mat-label>
      <input matInput disabled value="{{ container?.password }}">
      <button mat-icon-button matSuffix (click)="copyText(container?.password)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #elseBlock>
  <p *ngIf="container?.creationError; else noCreationError">
    {{ 'container.impossible_to_start' | translate }} <span [innerHTML]="container | renderCreationError"></span>
  </p>
  <ng-template #noCreationError>
    <p>
      {{ 'container.impossible_to_start_causes' | translate:{ name: ('container.steps.' + (container?.state ?? ContainerSwarmState.UNKNOWN) | lowercase) } }}
    </p>
    <ul>
      <li>{{ 'container.impossible_to_start_cause_1' | translate }}</li>
      <li>{{ 'container.impossible_to_start_cause_2' | translate }}</li>
      <li>{{ 'container.impossible_to_start_cause_3' | translate }}</li>

    </ul>
  </ng-template>
  <p class="shutdown-paragraph">
    <button mat-raised-button color="warn" (click)="onDeleteEnv()">
      {{ 'container.shutdown' | translate }}
    </button>
  </p>
</ng-template>
