<h1 class="mat-display-1">{{ 'admin.courses.lti.title' | translate }}</h1>

<p>
  {{ 'admin.courses.lti.subtitle' | translate}}
</p>

<app-courses-list
  [stopContainerPolling$]="stopContainerPolling$"
  [buttonCell]="buttonCell"
>
</app-courses-list>
<ng-template #buttonCell let-element>
    <button
      [disabled]="loading"
      mat-raised-button
      [matTooltip]="'admin.courses.lti.integrate_to_moodle' | translate"
      color="primary"
      (click)="choose(element)"
    >
    {{ 'admin.courses.lti.choose' | translate}}
    </button>
</ng-template>

<form style="display: none;" #jwtForm [action]="deepLinkingUrl" method="post">
  <input name="JWT" id="JWT" [value]="JWT" />
</form>
