<h1 class="mat-display-1">{{ 'admin.resources_management.deployment.create_new' | translate }}</h1>

<app-deployment-form
  [regions]="regions"
  [resources]="ovhResources"
  [formControl]="deployFormControl"
  [computeTypes]="computeTypes"
>
</app-deployment-form>

<div fxLayout="row" fxLayoutAlign="flex-end">
  <button mat-raised-button [disabled]="deployFormControl.invalid" (click)="submit()" color="primary">
    {{ 'admin.resources_management.deployment.create_submit' | translate }}
  </button>
</div>
