<div class="container">
  <div class="card"
    *ngIf="showButtons; else spinner"
    [style.height]="containerDimension"
    [style.width]="containerDimension"
  >
    <mat-menu #langMenu="matMenu">
      <button
        mat-menu-item
        *ngFor="let lang of languages"
        (click)="switchLang(lang.code)">

        <span style="margin-right: 8px;">
          {{ lang.flag }}
        </span>

        {{ lang.label }}
      </button>
    </mat-menu>
    <div class="branding">
      <button class="lang-switcher hidden"  mat-icon-button [matMenuTriggerFor]="langMenu">
        <span style="font-size: 20px;">{{ currentFlag }}</span>
      </button>
      <img src="../../../../../assets/Logo_Ecole.png" alt="Logo École">
      <button class="lang-switcher" mat-icon-button [matMenuTriggerFor]="langMenu">
        <span style="font-size: 20px;">{{ currentFlag }}</span>
      </button>
    </div>
    <h2>{{ 'sign_in.welcome' | translate }} {{appName}} !</h2>

    <mat-card *ngIf="errorMessage" class="alert-banner" style="margin-bottom: 40px;">
      <div class="alert-content">
        <span>{{ errorMessage }}</span>
        <button mat-icon-button (click)="dismiss()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="intro">
      <p *ngIf="!isMagicLink">{{ 'sign_in.login' | translate }}</p>
      <p *ngIf="isMagicLink">{{ 'sign_in.magic_link' | translate }}</p>
    </div>

    <div class="magic-link-form" *ngIf="isMagicLink">
      <form (ngSubmit)="sendMagicLink()">
        <mat-form-field appearance="outline" style="width:100%;">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">{{ 'sign_in.magic_link_submit' | translate }}</button>
      </form>
    </div>

    <div class="login-buttons" *ngIf="!isMagicLink">
      <button *ngIf="isCasLoginEnabled" mat-flat-button color="primary" (click)="redirectToCas()">{{ 'sign_in.cas' | translate }}</button>
      <ng-container *ngIf="isOIDCLoginEnabled">
        <button
          *ngFor="let oidc_idp of config.oidc_idps"
          mat-flat-button
          color="primary"
          (click)="loginOIDC(oidc_idp.idp_hint)"
          [matTooltip]="oidc_idp.tooltip ? oidc_idp.tooltip[currentLang] : ''"
          [matTooltipDisabled]="!oidc_idp.tooltip">
          {{ oidc_idp.title ? oidc_idp.title[currentLang] : ('sign_in.default_oidc' | translate) }}
        </button>
      </ng-container>
    </div>

    <div class="intro" *ngIf="emailSent">
      <p>  {{ 'sign_in.email_sent' | translate:{ count: magicLinkExpirationInMinutes } }}</p>
    </div>

    <div class="info-links" *ngIf="showInformation">
      <a
        *ngFor="let info of information"
        mat-button
        color="primary"
        [href]="info.url"
        target="_blank">
        {{ info.title[currentLang] }}
      </a>
    </div>
  </div>
  <ng-template #spinner><mat-spinner></mat-spinner></ng-template>
</div>
