<div class="container">
  <div class="card" *ngIf="showButtons; else spinner">
    <img src="../../../../../assets/Logo_Ecole.png" alt="Logo École">
    <h2>Bienvenue sur MyDocker !</h2>
    <p>Connectez-vous avec vos identifiants afin d’accéder à vos activités en ligne</p>
    <button *ngIf="isCasLoginEnabled" mat-flat-button color="primary" (click)="redirectToCas()">CONNEXION AVEC LE CAS</button>
    <button *ngIf="isOIDCLoginEnabled" mat-flat-button color="primary" (click)="loginOIDC()">CONNEXION AVEC VOTRE ÉTABLISSEMENT</button>
  </div>
  <ng-template #spinner><mat-spinner></mat-spinner></ng-template>
</div>
