.container {
  background-color: rgb(143 61 89);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px 4px 0 0;
  box-shadow: 8px 3px 5px RGBA(0, 0, 0, 0.14);
  text-align: center;
}

.card img {
  margin-top: 20px;
  width: 40%;
}

.card p {
  text-align: center;
  color: RGBA(0, 0, 0, 0.38);
  padding: 0 20px;
  margin: 0;
}

.card h2 {
  margin: 0;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.branding {
  gap: 1vh;
}

.login-buttons {
  gap: 1.5vh;
}

.info-links {
  margin: 0.5vh 0;
  gap: 0.5vh;
}
