<div class="container">
  <div class="card"
    *ngIf="showButtons; else spinner"
    [style.height]="containerDimension"
    [style.width]="containerDimension">
    <div class="branding">
      <img src="../../../../../assets/Logo_Ecole.png" alt="Logo École">
      <h2>Bienvenue sur MyDocker !</h2>
    </div>

    <div class="intro">
      <p>Connectez-vous avec vos identifiants afin d’accéder à vos activités en ligne</p>
    </div>

    <div class="login-buttons">
      <button *ngIf="isCasLoginEnabled" mat-flat-button color="primary" (click)="redirectToCas()">CONNEXION AVEC LE CAS</button>
      <ng-container *ngIf="isOIDCLoginEnabled">
        <button
          *ngFor="let oidc_idp of config.oidc_idps"
          mat-flat-button
          color="primary"
          (click)="loginOIDC(oidc_idp.idp_hint)"
          [matTooltip]="oidc_idp.tooltip ?? ''"
          [matTooltipDisabled]="!oidc_idp.tooltip">
          {{ oidc_idp.title ?? 'CONNEXION AVEC VOTRE ÉTABLISSEMENT' }}
        </button>
      </ng-container>
    </div>

    <div class="info-links" *ngIf="showInformation">
      <a
        *ngFor="let info of information"
        mat-button
        color="primary"
        [href]="info.url"
        target="_blank">
        {{ info.title }}
      </a>
    </div>
  </div>
  <ng-template #spinner><mat-spinner></mat-spinner></ng-template>
</div>
