<h1 class="mat-display-1">{{ 'admin.resources_management.resources_by_session.edit.title' | translate }} "{{ session.title }}" {{ 'admin.resources_management.resources_by_session.edit.of' | translate }} "{{ session.course.title }}"</h1>

<div class="mat-elevation-z3 form-container">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <p>
      <strong>{{ 'admin.resources_management.resources_by_session.edit.start_date' | translate }}:</strong>
      {{ session.startDateTime | translatedDate:'dd/MM/y':'HH:mm'}}
    </p>
    <p>
      <strong>{{ 'admin.resources_management.resources_by_session.edit.end_date' | translate }}:</strong>
      {{ session.endDateTime | translatedDate:'dd/MM/y':'HH:mm'}}
    </p>
    <p><strong>{{ 'admin.resources_management.resources_by_session.edit.student_count' | translate }}:</strong> {{ session.studentNumber }}</p>
  </div>
  <br>
  <div style="padding: 20px;">
    <strong>{{ 'admin.resources_management.resources_by_session.edit.description' | translate }}:</strong>
    <div style="margin-top: 20px;" [innerHTML]="session.course.description"></div>
  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="info-container mat-elevation-z4"
      [ngClass]="{
        'ok': ramSet >= ramRequired,
        'warning': ramSet >= 0.75 * ramRequired && ramSet < ramRequired,
        'error': ramSet < 0.75 * ramRequired
      }"
    >
      <strong>{{ ramSet }} Go</strong>&nbsp;{{ 'admin.resources_management.resources_by_session.edit.allocated_out_of' | translate }}&nbsp;<strong>{{ ramRequired | number}} Go</strong>&nbsp;{{ 'admin.resources_management.resources_by_session.edit.required' | translate }}
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="info-container mat-elevation-z4"
      [ngClass]="{
        'ok': cpuSet >= cpuRequired,
        'warning': cpuSet >= 0.75 * cpuRequired && cpuSet < cpuRequired,
        'error': cpuSet < 0.75 * cpuRequired
      }"
    >
      <strong>{{ cpuSet }} vCPU</strong>&nbsp;{{ 'admin.resources_management.resources_by_session.edit.allocated_out_of' | translate }}&nbsp;<strong>{{ cpuRequired | number }} vCPU</strong>&nbsp;{{ 'admin.resources_management.resources_by_session.edit.required' | translate }}
    </div>
  </div>
</div>

<app-resources-form
  [resources]="resources"
  [formControl]="control"
></app-resources-form>

<div fxLayout="row" fxLayoutAlign="flex-end">
  <button mat-raised-button [disabled]="control.invalid || !control.dirty" (click)="submit()" color="primary">
    {{ 'admin.resources_management.resources_by_session.edit.save' | translate }}
  </button>
</div>

