<h1 class="mat-display-1">{{ 'admin.resources_management.deployment_status.title' | translate }}</h1>

<mat-table [dataSource]="deploymentsStatus" class="mat-elevation-z3" multiTemplateDataRows>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef fxFlex="70px" fxLayoutAlign="center center">
      <div *ngIf="polling; then pollingLoader else refreshButton"></div>
      <ng-template #refreshButton>
        <button mat-icon-button [matTooltip]="'admin.resources_management.deployment_status.refresh' | translate" (click)="refresh$.next()">
          <mat-icon>refresh</mat-icon>
        </button>
      </ng-template>
      <ng-template #pollingLoader>
        <mat-spinner [diameter]="24"></mat-spinner>
      </ng-template>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="70px" fxLayoutAlign="center center">
      <app-deployment-status-status [status]="element.status"></app-deployment-status-status>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="updatedOn">
    <mat-header-cell *matHeaderCellDef>{{ 'admin.resources_management.deployment_status.update_date' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element?.createdOn | translatedDate:'dd/MM/yy':'HH:mm'}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="launchDeployment()">
        <mat-icon>launch</mat-icon>
        {{ 'admin.resources_management.deployment_status.launch_deployment' | translate }}
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="flex-end center">
      <button mat-icon-button [matTooltip]="'admin.resources_management.deployment_status.view_logs' | translate" (click)="openDetailDialog(element)">
        <mat-icon>playlist_add_check</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef>
      {{ 'admin.resources_management.deployment_status.no_data' | translate }}
    </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': deploymentsStatus.length !== 0}"></mat-footer-row>
</mat-table>

<mat-paginator [length]="deploymentsSize"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

